<!-- index.html.erb -->

<h1>Tickets</h1>

<div class="tickets--table">
  <div class="table__header__container">
    <div class="table__header--header">Request Number</div>
    <div class="table__header--header">Request Type</div>
    <div class="table__header--header">Company Name</div>
    <div class="table__header--header">Crew On Site</div>
  </div>
  <div class="tickets--table--content">
    <% @result.each do |row| %>
      <a href="/tickets/<%= row['ticket_id'] %>">
        <div class="table--row">
          <div class="table--cell"><%= row['request_number'] %></div>
          <div class="table--cell"><%= row['request_type'] %></div>
          <div class="table--cell"><%= row['company_name'] %></div>
          <div class="table--cell"><%= row['crew_on_site'] == 't' ? 'Yes' : 'No' %></div>
        </div>
      </a>
    <% end %>
  </div>
</div>
